<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhengshang.meeting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.MeetingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.WelcomeActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewsChannelActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserCenterActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentInputActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/comment_tool_style"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".ui.activity.NewsSubjectActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FavoriteActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GoodsListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InputGoodsNameActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".ui.activity.TestActivity_"
            android:screenOrientation="portrait" />

        <service android:name="com.taskmanager.TaskService" />
    </application>

</manifest>
